<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RecognizerSecton" type="Model.Config.RecognizerSection,Model"/>
  </configSections>
  <RecognizerSecton>
    <EllieMaeList>
      <add domainName="web.db.qa.elmae" ></add>
      <add domainName="emims.db.qa.elmae" ></add>
      <add domainName="misc.db.qa.elmae" ></add>
      <add domainName="clickloan.db.qa.elmae" ></add>
      <add domainName="datasvc.db.qa.elmae" ></add>
      <add domainName="epass.db.qa.elmae" ></add>
      <add domainName="compufund.db.qa.elmae" ></add>
      <add domainName="edm.db.qa.elmae" ></add>
      <add domainName="HomePage.db.qa.elmae" ></add>
      <add domainName="dataservices.db.qa.elmae" ></add>
      <add domainName="em2qadb01.dco.elmae" ></add>
      <add domainName="docsengine.elliemae.com" ></add>
      <add domainName="em2qadb01.dco.elmae" ></add>
      <add domainName="www.onlineexpressweb.com" ></add>
      <add domainName="download.elliemaeservices.com" ></add>
      <add domainName="www.epassbusinesscenter.com" ></add>
      <add domainName="epass.genesis2000.com" ></add>
      <add domainName="www.elliemaebiz.com" ></add>
      <add domainName="webadmin.elliemae.net" ></add>
      <add domainName="www.clickloan.com" ></add>
      <add domainName="secure.elliemae.net" ></add>
      <add domainName="hosted.elliemae.com" ></add>
      <add domainName="encompass.elliemae.com" ></add>
      <add domainName="epass.elliemaeservices.com" ></add>
      <add domainName="leadcenter.elliemaeservices.com" ></add>
      <add domainName="status.elliemaeservices.com" ></add>
      <add domainName="archive.elliemae.com" ></add>
      <add domainName="appraisalcenter.elliemae.com" ></add>
      <add domainName="lendercenter.elliemae.com" ></add>
      <add domainName="misservices.elliemae.com" ></add>
      <add domainName="titlecenter.elliemae.com" ></add>
      <add domainName="dataservices.elliemaeservices.com" ></add>
      <add domainName="rightfax.production.elmae" ></add>
      <add domainName="www.elliemae.com" ></add>
      <add domainName="resourcecenter.elliemae.com" ></add>
      <add domainName="service.elliemae.com" ></add>
      <add domainName="www.secure.elliemae.com" ></add>
      <add domainName="www.clickloan.com.d.elliemae.net" ></add>
      <add domainName="www.mtgpricing.com" ></add>
      <add domainName="docsengine.elliemae.com" ></add>
      <add domainName="www.onlineexpressweb.com" ></add>
      <add domainName="cp1rcs01" ></add>
    </EllieMaeList>
  </RecognizerSecton>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>